<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{ title }}{% endif %}</title>
</head>
<body>
	{% if bands %}
	{% for band in bands %}
	<div class="band-container">
		<h3><a href="/band/{{ band._id }}">{{ band.name }}</a></h3>
		<p>Medlem: 
		{% for member in band.members %}
			{{ member }}
		{% endfor %}
		</p>
		<div class="spotify-data">
			<p>spotify_name: {{ band.spotify_name }}</p>
			<p>spotify_id: {{ band.spotify_id }}</p>
			<p>spotify_followers: {{ band.spotify_followers }}</p>
			<p>spotify_popularity: {{ band.spotify_popularity }}/100</p>
			{% for image in band.spotify_images %}
			<a href="{{ image.url }}" width="60" height="60"></a>
			{% endfor %}
			<p>spotify_sjangre: 
			{% for genre in band.genres %}
				{{ genre }}, 
			{% endfor %}
		</p>
		</div>

	</div>
	{% endfor %}
	{% endif %}
	<p>Create more objects <a href="/bands/create">here</a></p>
</body>
</html>