<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"></link>
</head>
<body class="contentBg">
	<div>
		<h2>Liste over band</h2>
		<ul>
			<li><a href="bandinfo.html">Band1</a></li>
			<li><a href="bandinfo.html">Band2</a></li>
			<li><a href="bandinfo.html">Band3</a></li>
			<li><a href="bandinfo.html">Band4</a></li>
			<li><a href="bandinfo.html">Band5</a></li>
			<li><a href="bandinfo.html">Band6</a></li>
			<li><a href="bandinfo.html">Band7</a></li>
			<li><a href="bandinfo.html">Band8</a></li>
			<li><a href="bandinfo.html">Band9</a></li>
		</ul>
	</div>
</body>
</html>