{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}

	<div class="container text-left">
		<h2 class="formHeader">Opprett band</h2>

		<form class="form-horizontal" method="post" action="/bands/create">
			<div class="form-group">
				<label class="control-label col-xs-3" for="spotify_search_field">Navn: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="spotify_search_field" name="name" placeholder="Skriv navn på bandet">
				</div>
			</div>

			<div class="col-xs-3"></div>
			<button id="spotify_search_button" type="button" class="btn btn-primary">Søk</button>

			<div class="form-group">
				<label class="control-label col-xs-3" for="spotify_genres">Sjanger: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="spotify_genres" name="spotify_genres" placeholder="Skriv inn sjangere">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="members">Medlemmer: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="members" name="members" placeholder='Skriv navn på medlemmer, skill med komma (",")'>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="description">Beskrivelse: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="description" name="description" placeholder="Beskriv musikken">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="spotify_image">Bilde: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="spotify_image" name="spotify_image" placeholder="Bilde">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="spotify_popularity">Popularitet: </label>
				<div class="col-xs-9">
					<input type="number" class="form-control" id="spotify_popularity" name="spotify_popularity" placeholder="Popularitet i Spotify">
				</div>
			</div>		

			<div class="form-group">
				<label class="control-label col-xs-3" for="previous_concerts">Tidligere konserter i Norge: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="previous_concerts" name="previous_concerts" placeholder='Skill konserter med komma (",")'>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="album_sales">Salgstall for albumer: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="album_sales" name="album_sales" placeholder='Skriv på formen <albumnavn>:<salgstall> , skill med komma (",")'>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="spotify_id">Spotify-ID: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="spotify_id" name="spotify_id" placeholder="Skriv inn Spotify-ID">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="spotify_followers">Følgere på Spotify: </label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="spotify_followers" name="spotify_followers" placeholder="Skriv inn antall følgere">
				</div>
			</div>
			<input id="spotify_albums" type="hidden" name="spotify_albums" value="">
			<input id="spotify_top_tracks" type="hidden" name="spotify_top_tracks" value="">
			<div class="col-xs-3"></div>
			<button id="band_submit" type="submit" class="btn btn-success">Send inn</button>
			<button id="band_reset" type="reset" class="btn btn-danger">Reset</button>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/script/spotify-api.js"></script>
{% endblock %}