<!DOCTYPE html>
<html>
<head>
	<title>Band page</title>
</head>
<body>
	<div class="band-container">
		<h3>{{ name }}</h3>
		<p>Medlemmer : 
		{% for member in members %}
			{{ member }}
		{% endfor %}
		</p>
		<div class="spotify-data">
			<p>spotify_name: {{ spotify_name }}</p>
			<p>spotify_id: {{ spotify_id }}</p>
			<p>spotify_followers: {{ spotify_followers }}</p>
			<p>spotify_popularity: {{ spotify_popularity }}/100</p>
			{% for image in spotify_images %}
			<a href="{{ image.url }}" width="60" height="60"></a>
			{% endfor %}
			<p>spotify_sjangre: 
			{% for genre in genres %}
				{{ genre }}, 
			{% endfor %}
		</p>
		</div>

	</div>
</body>
</html>