{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}
	<!-- <header>
		<h2>{{name}} :: {{_id}}</h2>
	</header>
	<div class="box">	
		<div class="boxLeft">
			<a href='/band/{{ id }}/edit'>Endre her</a>
			<div id="sjanger">
				<h3>Sjanger</h3>
				<p>
					{% for genre in spotify_genres %}
					{{genre}},
					{% endfor %}
				</p>
			</div>
			<div id="info">
				<h3>Info</h3>
				<p>{{description}}</p>
			</div>
		</div>
		<div class="boxRight">
			<div id="strommetjenester">
				<h3>Spotifyinformasjon</h3>
				<p>Popularitetsrate: {{spotify_popularity}}</p>
				<img width="200" height="200" src="{{spotify_image}}"/>
				<p>Spotify ID: {{spotify_id}}</p>
				<p>Spotify follower numbers: {{spotify_followers}}</p>
			</div>	
			<div id="tidligereKonserter">
				<h3>Tidligere konserter i Norge</h3>
				<ul>
					{% for concert in previous_concerts %}
					<li>{{concert}}</li>
					{% endfor %}
				</ul>	
			</div>
			<div id="albumsalg">
				<h3>Salgstall for album</h3>
				<ul>
					{%for album in album_sales%}
					<li>{{album}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div> -->

	<div class="container text-left">

		<div class="col-xs-8">
			<h2>{{name}}</h2>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sjangere</h3>
				</div>
				<div class="panel-body">
					{% for genre in spotify_genres %}
						{{genre}},
					{% endfor %}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Info</h3>
				</div>
				<div class="panel-body">
					{{description}}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tidligere konserter i Norge</h3>
				</div>
				<div class="panel-body">
					<ul>
					{% for concert in previous_concerts %}
						<li>{{concert}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>

			<a class="btn btn-success" href='/band/{{ id }}/edit'>Endre band</a>

			<form method="POST" action="/band/{{ _id }}">
				<input type="hidden" name="_method" value="DELETE"/>
				<input type="submit" class="btn btn-danger" value="Slett"/><br>
			</form>

		</div>

		<div class="col-xs-4">
			<h2>&nbsp</h2>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Spotifyinformasjon</h3>
				</div>
				<div class="panel-body">
					<div class="thumbnail">
						<img src="{{spotify_image}}"/>
					</div>
					<table>
						<tbody>
							<tr>
								<td>Popularitetsrate:</td>
								<td>&nbsp {{spotify_popularity}}</td>
							</tr>
							<tr>
								<td>Spotify-følgere:</td>
								<td>&nbsp {{spotify_followers}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Salgstall</h3>
				</div>
				<div class="panel-body">
					<ul>
					{%for album in album_sales%}
						<li>{{album}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
