<form method="post" action="/bands/create">
	<p>Navn: </p>
    <input type="text" name="name">
    <p>Medlemmer (skill medlemmer med komma ',')</p>
    <input type="text" name="members">
    <p>Beskrivelse: </p>
    <input type="text" name="description">
 	<p>Popularitetsrate: </p>
    <input type="number" name="popRate">
    <p>Tidligere konserter i Norge: (skill konserter med komma ',')</p>
    <input type="text" name="prevConcerts">
    <p>Salgstall for ulike album (skriv på formen "albumNavn":"salgstall" , skill med komma ',')</p>
    <input type="text" name="albumSales">
    <p></p>
    <input type="submit" value="submit">
</form>