{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}

	<div class="container text-left">

		<div class="col-xs-8">
			<h2>{{band.name}}</h2>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sjangere</h3>
				</div>
				<div class="panel-body">
					{% for genre in band.spotify_genres %}
						{{genre}},
					{% endfor %}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Info</h3>
				</div>
				<div class="panel-body">
					{{band.description}}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tidligere konserter i Norge</h3>
				</div>
				<div class="panel-body">
					<ul>
					{% for concert in band.previous_concerts %}
						<li>{{concert}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>

			<a class="btn btn-success" href='/band/{{ band.name }}/edit'>Endre band</a>

			<form method="POST" action="/band/{{ band.name }}">
				<input type="hidden" name="_method" value="DELETE"/>
				<input type="submit" class="btn btn-danger" value="Slett"/><br>
			</form>

		</div>

		<div class="col-xs-4">
			<h2>&nbsp</h2>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Spotifyinformasjon</h3>
				</div>
				<div class="panel-body">
					<div class="thumbnail">
						<img src="{{band.spotify_image}}"/>
					</div>
					<table>
						<tbody>
							<tr>
								<td>Popularitetsrate:</td>
								<td>&nbsp {{band.spotify_popularity}}</td>
							</tr>
							<tr>
								<td>Spotify-følgere:</td>
								<td>&nbsp {{band.spotify_followers}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Salgstall</h3>
				</div>
				<div class="panel-body">
					<ul>
					{%for album in album_sales%}
						<li>{{band.album}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
