{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}
	<div class="container text-center">
		<h2 class="tableHeader">Liste over band</h2>

		<a class="btn btn-primary createButton" href="/bands/create">Legg inn nytt band</a>

		<div id="bandSearch" class="form-group">
			<input type="text" class="search form-control" placeholder="Søk">
		</div>

		<table id="tabell" data-toggle="table" 
		data-classes="table table-hover results"
		data-striped="true"
		data-sort-name="Band"
		data-sort-order="asc">
			<thead>
				<tr>
					<th class="col-xs-2" data-field="Band" data-sortable="true">Band</th>
					<th class="col-xs-4" data-field="Genre" data-sortable="true">Sjanger</th>
					<th class="col-xs-2" data-field="Popularity" data-sortable="true">Popularitetsrate</th>
					<th class="col-xs-2" data-field="Delete" data-sortable="false"></th>
				</tr>	
			</thead>

			<tbody>
				{% if bands %}
				{% for band in bands %}
					<tr>
						<td><a id="{{band.name}}" href="/band/{{ band.name}}">{{band.name}}</a></td>
						<td>{{band.spotify_genres}}</td>
						<td>{{band.spotify_popularity}}</td>
						<td>
							<form method="POST" action="/band/{{ band.name }}">
	        					<input type="hidden" name="_method" value="DELETE"/>
	        					<input type="submit" class="btn btn-danger" value="Slett"/><br>
	    					</form>
	    				</td>
					</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
