{% extends "index2.html" %}
{% block content %}
	<div>
		<h2>Liste over band</h2>
		<table id="tabell" data-toggle="table" data-classes="table table-hover results" data-striped="true" data-sort-name="Date" data-sort-order="asc">
			<thead>
				<tr>
					<th class="col-xs-2" data-field="Band" data-sortable="true">Band</th>
					<th class="col-xs-4" data-field="Band" data-sortable="true">Beskrivelse</th>
					<th class="col-xs-2" data-field="Genre" data-sortable="true">Sjanger</th>
				</tr>
					
			</thead>
			<tbody>
			{% if bands %}
			{% for band in bands %}
				<tr>
					<td><a href="/band/{{ band._id}}">{{band}}</a></td>
					<td style="display:none;"></td>
					<td>{{band.name}}</td>
					<td>{{band.genre}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	<p>Create more objects <a href="/bands/create">here</a></p>
{% endblock %}
