{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}

	<div class="container text-left">
		<h2 class="formHeader">Opprett tilbud</h2>

		<form class="form-horizontal" method="post" action="/bookings/create">
			<div class="form-group">
				<label class="control-label col-xs-2" for="sel2">band: </label>
				<select class="form-control" name="band" id="sel2">
					{% for band in bands %}
					<option value="{{band.id}}">{{band.name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2" for="email">Epost: </label>
				<div class="col-xs-10">
					<input type="email" class="form-control" id="email" name="email" placeholder="Skriv inn e-postadresse">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="date">Dato: </label>
				<div class="col-xs-3">
					<input type="date" class="form-control" id="date" name="date">
				</div>

				<label class="control-label col-xs-1" for="price">Pris: </label>
				<div class="col-xs-2">
					<input type="number" class="form-control" id="price" name="price">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="text">Melding: </label>
				<div class="col-xs-10">
					<textarea class="form-control" rows="4" id="text" name="text" placeholder="Skriv melding til mottaker"></textarea>
				</div>
			</div>

			<div class="col-xs-2"></div>
			<button id="booking_submit" type="submit" class="btn btn-success">Send tilbud</button>
		</form>
	</div>
{% endblock %}