{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
	<title>Booking</title>
{% endblock %}
{% block content %}
	<div class="container text-center">
	<h2 class="tableHeader">Bookingoversikt</h2>

		<div class="dropdown" id="scenedrop">
			<button class="btn btn-drop dropdown-toggle" type="button" data-toggle="dropdown">Velg status<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Godkjent</a></li>
				<li><a href="#">Avslått</a></li>
				<li><a href="#">Venter godkjenning</a></li>
			</ul>
		</div>

		<div class="form-group pull-right">
			<input type="text" class="search form-control" placeholder="Søk">
		</div>

		<table id="tabell" data-toggle="table" 
		data-classes="table table-hover results"
		data-striped="true"
		data-sort-name="Date"
		data-sort-order="asc">
			<thead>
				<tr>
					<th class="col-xs-1" data-field="Date" data-sortable="true">Dato</th>
					<th class="col-xs-4" data-field="Band" data-sortable="true">Band</th>
					<th class="col-xs-2" data-field="Pris" data-sortable="true">Pris</th>
					<th class="col-xs-2" data-field="Status" data-sortable="true">Status</th>
				</tr>
			</thead>

			<tbody>
			{% if bookings %}
			{% for booking in bookings %}
				<tr>
					<td>{{ booking.date }}</td>
					<td><a href="/booking/{{ booking.url }}">{{ booking.band.name }}</a></td>
					<td>{{ booking.price }}</td>
					<td>
						{% if !booking.considered %}
							Venter godkjenning
						{% elseif booking.approval %}
							Godkjent
						{% else %}
							Avslått
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
		<p>Create more objects <a href="/bookings/create">here</a></p>
	</div>

{% endblock %}