
{% extends "booking.html" %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block info %}

<div class="container text-left">
    <table><tr><td>
        <h2 class="formHeader">{{booking.band.name}}</h2></td>
        <td style="width: 73%"></td>
        <td>
        <div class="col-xs-1 text-right">
            <form method="POST" action="/booking/{{ booking.url }}">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="submit" class="btn btn-danger" value="Slett booking"/><br>
            </form>
        </div></td>
    </table></tr>

    <form class="form-horizontal" method="post" action="/booking/{{booking.url}}"> 
        <input type="hidden" name="contains_message" value="false"/>
        <div class="form-group">

            <label class="control-label col-xs-2" for="date">Dato: </label>
            <div class="col-xs-3">
                <input type="date" class="form-control" id="date" name="date" value="{{booking.date}}">
            </div>

            <label class="control-label col-xs-1" for="price">Pris: </label>
            <div class="col-xs-2">
                <input type="number" class="form-control" id="price" name="price" value="{{booking.price}}">
            </div>
           
        </div>

        <div class="form-group">
                <label class="control-label col-xs-2" for="band">Scene: </label>
                <div class="col-xs-10">
                    <select data-placeholder="Velg scene" class="form-control chosen-select" name="scene" id="scene" required>
                        <option value=""></option>
                        {% for stage in stages %}
                            <option value="{{stage.name}}">{{stage.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        <div class="form-group">
            <label class="control-label col-xs-2" for="email">Epost: </label>
            <div class="col-xs-8">
                <input type="email" class="form-control" id="email" name="email" value="{{booking.email}}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-2" for="text">Melding: </label>
            <div class="col-xs-8">
                <textarea class="form-control" rows="4" id="text" name="text">{{booking.text}}</textarea>
            </div>
        </div>

        <div class="form-group">
        <div class="col-xs-2"></div>
            <div class="col-xs-3">
                <a href="mailto:{{ booking.email }}?Subject=Booking%20av%20{{booking.band_name}}&body={{booking.text}}" target="_top" style="color: black">
                    <button id="mailto-button" type="submit" formaction="/booking/{{booking.name}}" class="btn btn-success">Send mail 
                    </button>
                </a> 
            </div>
            <div class="col-xs-3">
                <input id="sent-yes" type="checkbox" name="sent" value="yes" {% if booking.sent %} checked {% endif %}>Mail sendt
            </div>
        </div>
        <div class="form-group">
        <div class="col-xs-2"></div>
            {% if userIs('bookingsjef') %}
            <div class="col-xs-3">
                <input type="radio" name="confirm" value="accept" {% if booking.approval %} checked {%  endif %}>Godkjenn <input type="radio" name="confirm" value="deny" {% if booking.concidered and !booking.approval %} checked {% endif %}>Avslå
            </div>
            {% endif %}
            <div class="col-xs-3">
                <input type="submit" value="Lagre">
            </div>
        </div>
        <div class="form-group">
        <div class="col-xs-2"></div>
            <div class="col-xs-3">
                <p>Lag en konsert <a href="/concerts/create">her</a></p>
            </div>
        </div>
    </form>

</div>
{% endblock %}