{% extends "index2.html" %}
{% block content %}
    <h3>{{ name }}</h3>
    <p>
        {% for stuff in bandIDs %}
        <p>{{stuff.name}}{{stuff.id}}</p>
        {% endfor %}
    </p>
    <form method="post" action="/concert/{{ _id }}/edit">
    	<p>Navn: </p>
        <input type="text" name="name" placeholder="{{ name }}">
        <p>Band (skill band med komma ',')</p>
        <input type="text" name="bands" placeholder="{{ bands }}">
        <p>Sjanger: </p>
        <input type="text" name="genre" placeholder="{{ genre }}"> 
        <p>Scene: </p>
        <input type="text" name="stage" placeholder="{{ stage }}">
        <p>Publikumsantall: </p>
        <input type="number" name="audSize" placeholder="{{ audSize }}">
        <p>Dato og tid: </p>
        <input type="date" name="date" value="{{ date }}"><input type="time" name="time" value="{{ time }}">
        <p></p>
        <input type="submit" value="submit">
    </form>	
{% endblock %}