{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}
	<div class="container text-left">
		<h2 class="formHeader">Opprett konsert</h2>

		<form class="form-horizontal" method="post" action="/concerts/create">
			<div class="form-group">
				<label class="control-label col-xs-2" for="name">Navn: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="Skriv navn på konserten">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="sel2">Bookinger: </label>
				<div class="col-xs-10">
					<select multiple class="form-control" name="booking" id="sel2">
						{% for booking in bookings %}
							{% if booking.approval and !booking.concert_created %}
									<option id="{{booking.band.id}}" value="{{booking.id}},{{booking.band.id}}">{{booking.band.name}}</option>
							{%  endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="genre">Sjanger: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="genre" name="genre" placeholder="Skriv inn sjangere">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="sel1">Scene: </label>
				<div class="col-xs-10">
					<select class="form-control" name="stage" id="sel1">
						{% for stage in stages %}
							<option value="{{stage.id}}">{{stage.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="tickets">Publikumsantall: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="tickets" name="audSize" placeholder="Skriv antall publikummere">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="date">Dato: </label>
				<div class="col-xs-3">
					<input type="date" class="form-control" id="date" name="date">
				</div>

				<label class="control-label col-xs-1" for="time">Tid: </label>
				<div class="col-xs-2">
					<input type="time" class="form-control" id="time" name="time">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="expenses">Sum utgifter: </label>
				<div class="col-xs-3">
					<input type="number" class="form-control" id="expenses" name="expenses">
				</div>

				<label class="control-label col-xs-1" for="ticketPrice">Billettpris: </label>
				<div class="col-xs-2">
					<input type="number" class="form-control" id="ticketPrice" name="ticketPrice">
				</div>
			</div>


			<div class="col-xs-2"></div>
			<button id="concert_submit" type="submit" class="btn btn-success">Send inn</button>
		</form>
		<script type="text/javascript" src="/script/priceCalc.js"></script>
	</div>
{% endblock %}