{% extends "index.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
{% endblock %}
{% block content %}
	<div class="container text-center">
		<h2 class="tableHeader">Konsertoversikt</h2>

		<div class="dropdown" id="scenedrop">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Velg scene<span class="caret"></span></button>
			<ul class="dropdown-menu">
				{% for stage in stages %}
				<li><a href="#">{{stage.name}}</a></li>
				{% endfor %}
			</ul>
		</div>

		<div id="concertSearch" class="form-group pull-right">
			<input type="text" class="search form-control" placeholder="Søk">
		</div>

		<table data-toggle="table" 
		data-classes="table table-hover results"
		data-striped="true"
		data-sort-name="Date"
		data-sort-order="asc">
			<thead>
				<tr>
					<th class="col-xs-2" data-field="Date" data-sortable="true">Dato</th>
					<th class="col-xs-1" data-field="Time" data-sortable="true">Tid</th>
					<th class="col-xs-3" data-field="Band" data-sortable="true">Band</th>
					<th class="col-xs-2" data-field="Genre" data-sortable="true">Sjanger</th>
					<th class="col-xs-2" data-field="Scene" data-sortable="true">Scene</th>
					<th class="col-xs-1" data-field="Tickets" data-sortable="true">Publikum</th>
					{% if userCan('edit concert') %}
					<th class="col-xs-1" data-field="Edit" data-sortable="false"></th>
					{% endif %}
					{% if userCan('delete concert') %}
					<th class="col-xs-1" data-field="Delete" data-sortable="false"></th>
					{% endif %}
				</tr>
				<!--<tr class="warning no-result">
      				<td colspan="4"><i class="fa fa-warning"></i> No result</td>
  				</tr>-->
			</thead>

			<tbody>
				{% for concert in concerts %}
				<tr>
					<td>{{ concert.date }}</td>
					<td>{{ concert.time }}</td>
					<td>
						<ul>

							{% for band in concert.bandIDs %}
       						<li><a id="{{band.name}}" href="/band/{{band.id}}">{{band.name}}</a></li>
					        {% endfor %}
						<ul>
					</td>
					<td>{{concert.genre}}</td>
					<td>{{concert.stage}}</td>
					<td>{{concert.audSize}}</td>
					{% if userCan('edit concert') %}
					<td><a class="btn btn-default" href='/concert/{{ concert._id }}/edit'>Endre</a></td>
					{% endif %}
					{% if userCan('delete concert') %}
					<td>
						<form method="POST" action="/concert/{{ concert._id }}">
        					<input type="hidden" name="_method" value="DELETE"/>
        					<input type="submit" class="btn btn-danger" value="Slett"/><br>
    					</form>
    				</td>
    				{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>Create more objects <a href="/concerts/create">here</a></p>
		<p>Legg inn booking <a href="/bookings/create">her</a></p>
	</div>

{% endblock %}