<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{ title }}{% endif %}</title>
</head>
<body>
	{% if concerts %}
	{% for concert in concerts %}
	<div class="concert-container">
		<h3><a href="/concert/{{ concert._id }}">{{ concert.name }}</a></h3>
		<p>Genre:
		{{ concert.genre }}
		<!--{% for genre in concert.genres %}
			{{ genre }}
		{% endfor %} -->
		</p>
		<p>Band:
		{% for band in concert.bands %}
			{{ band }} ,
			{% endfor %}
		</p>
		<p>Scene: {{ concert.stage }} </p>
		<p>Publikumstall: {{ concert.audSize }} </p>
		<p>Dato: {{ concert.date }}</p>
		<p>Tid: {{ concert.time }}</p>
	</div>
	{% endfor %}
	{% endif %}
	<p>Create more objects <a href="/concerts/create">here</a></p>
</body>
</html>