{% extends "index.html" %}
{% block head %}
    {% parent %}
    <link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/chosen.bootstrap.css" />
{% endblock %}
{% block content %}

    <div class="container text-left">
        <h2 class="formHeader">Endre konsert</h2>

        <form class="form-horizontal" method="post" action="/concert/{{ concert.name }}/edit">
            <div class="form-group">
                <label class="control-label col-xs-2" for="name">Navn: </label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="name" name="name" value="{{ concert.name }}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" for="sel2">band: </label>
                <div class="col-xs-10">
                    <select multiple class="form-control" name="bands" id="sel2">
                        {% for band in concert.bands %}
                            <option value="{{band.id}}">{{band.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" for="genre">Sjanger: </label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="genre" name="genre" value="{{ concert.genre }}">
                </div>
            </div>

           <div class="form-group">
                <label class="control-label col-xs-2" for="sel1">Scene: </label>
                <div class="col-xs-10">
                    <select class="form-control" name="stage" id="sel1">
                        {% for stage in stages %}
                        <option value="{{stage.id}}">{{stage.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-2" for="tickets">Publikumsantall: </label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="tickets" name="audSize" value="{{ concert.audSize }}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-xs-2" for="host">Ansvarlig: </label>
                <div class="col-xs-10">
                    <select class="form-control chosen-select" name="host" id="hosts" required>
                        {% for user in users %}
                            <option value="{{user.id}}">{{user.fullname}}</option>
                        {% endfor %}						

                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-xs-2" for="crews">Crew: </label>
                <div class="col-xs-10">
                    <select data-placeholder="Velg crew" class="form-control chosen-select" multiple name="crew" id="crews" required>
                        {% for crew in crews %}
                            <option value="{{crew.id}}">{{crew.fullname}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" for="date">Dato: </label>
                <div class="col-xs-3">
                    <input type="date" class="form-control" id="date" name="date" value="{{ concert.date }}" required>
                </div>

                <label class="control-label col-xs-1" for="time">Tid: </label>
                <div class="col-xs-2">
                    <input type="time" class="form-control" id="time" name="time" value="{{ concert.time }}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" for="expenses">Sum utgifter: </label>
                <div class="col-xs-3">
                    <input type="number" class="form-control" id="expenses" name="expenses">
                </div>

                <label class="control-label col-xs-1" for="ticketPrice">Billettpris: </label>
                <div class="col-xs-2">
                    <input type="number" class="form-control" id="ticketPrice" name="ticketPrice">
                </div>
            </div>

            <div class="form-group">
                <form method="POST" action="/concert/{{ concert.name }}/edit">
                    <div class="col-xs-2"></div>
                        <div class="col-xs-3">
                            <button id="concert_submit" type="submit" class="btn btn-success">Send inn</button>
                        </div>
                        <div class="col-xs-3">
                            <input type="submit" class="btn btn-success" value="Slett"/>
                            <input type="hidden" name="_method" value="DELETE"/>
                        </div>
                </form>
            </div>

            <div class="col-xs-2"></div>
            <button id="concert_submit" type="submit" class="btn btn-success">Send inn</button>
        </form>
    </div>
    
{% endblock %}
{% block scripts %}
    <script src="/script/chosen.jquery.js"></script>
    <script src="/script/chosen.js"></script>
{% endblock %}