<!DOCTYPE html>
<html lang="nb">
<head>
	<meta charset="UTF-8" />
	<!--<link rel="stylesheet" type="text/css" href="tablestyle.css" />-->
	<title>Konserttabell</title>
</head>
<body>
	<div id="table-wrapper">
	  <div id="table-scroll">
		<table>
			<thead>
				<tr>
					<th> <span class="text">Dato<span/></th>
					<th> <span class="text">Tidspunkt<span/></th>
					<th> <span class="text">Band<span/></th>
					<th> <span class="text">Sjanger<span/></th>
					<th> <span class="text">Scene<span/></th>
					<th> <span class="text">Publikumstall<span/></th>
				</tr>
			</thead>

			<tbody>
				{% for concert in concerts %}
				<tr>
					<td>{{ concert.date }}</td>
					<td>{{ concert.time }}</td>
					<td>
						<ul>
							{% for band in concert.bands %}
							<li> {{ band }} </li>
							{% endfor %}
						<ul>
					</td>
					<td>{{concert.genre}}</td>
					<td>{{concert.stage}}</td>
					<td>{{concert.audSize}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
<p>Create more objects <a href="/concerts/create">here</a></p>
</body>
</html>