{% extends "index2.html" %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/tablestyle.css" />
	<title>Konserttabell</title>
	<script src="script/sorttable.js"></script>
{% endblock %}
{% block content %}
	<div id="table-wrapper">
	  <div id="table-scroll">
		<table class="sortable">
			<thead>
				<tr>
					<th> <span class="text">Dato<span/></th>
					<th> <span class="text">Tidspunkt<span/></th>
					<th> <span class="text">Band<span/></th>
					<th> <span class="text">Sjanger<span/></th>
					<th> <span class="text">Scene<span/></th>
					<th> <span class="text">Publikumstall<span/></th>
				</tr>
			</thead>

			<tbody>
				{% for concert in concerts %}
				<tr>
					<td>{{ concert.date }}</td>
					<td>{{ concert.time }}</td>
					<td>
						<ul>
							{% for band in concert.bands %}
							<li> {{ band }} </li>
							{% endfor %}
						<ul>
					</td>
					<td>{{concert.genre}}</td>
					<td>{{concert.stage}}</td>
					<td>{{concert.audSize}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
	<p>Create more objects <a href="/concerts/create">here</a></p>
{% endblock %}