<!DOCTYPE html>
<html lang="nb">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="tablestyle.css" />

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


	<title>Konserttabell</title>
</head>
<body>
	<div class="container text-center">

		<div class="dropdown" id="scenedrop">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Velg scene<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Edgar</a></li>
				<li><a href="#">Klubben</a></li>
				<li><a href="#">Knaus</a></li>
				<li><a href="#">Storsalen</a></li>
				<li><a href="#">Strossa</a></li>
			</ul>
		</div>

		<div class="form-group pull-right">
			<input type="text" class="search form-control" placeholder="Søk">
		</div>

		<table id="tabell" data-toggle="table" 
		data-classes="table table-hover results"
		data-striped="true"
		data-sort-name="Date"
		data-sort-order="asc">
			<thead>
				<tr>
					<th class="col-xs-2" data-field="Date" data-sortable="true">Dato</th>
					<th class="col-xs-1" data-field="Time" data-sortable="true">Tid</th>
					<th class="col-xs-4" data-field="Band" data-sortable="true">Band</th>
					<th class="col-xs-2" data-field="Genre" data-sortable="true">Sjanger</th>
					<th class="col-xs-2" data-field="Scene" data-sortable="true">Scene</th>
					<th class="col-xs-1" data-field="Tickets" data-sortable="true">Publikum</th>
				</tr>
				<tr class="warning no-result">
      				<td colspan="4"><i class="fa fa-warning"></i> No result</td>
  				</tr>
			</thead>

			<tbody>
				<tr>
					<td>01.10.2016</td>
					<td>22:00</td>
					<td>Tuba Tuba</td>
					<td>Funk</td>
					<td>Klubben</td>
					<td>150</td>
				</tr>

				<tr>
					<td scope="row">02.10.2016</td>
					<td>22:00</td>
					<td>Saxofon Saxofon</td>
					<td>Rock</td>
					<td>Knaus</td>
					<td>100</td>
				</tr>
				
				<tr>
					<td scope="row">03.10.2016</td>
					<td>21:00</td>
					<td>Tuba Tuba</td>
					<td>Jazz</td>
					<td>Edgar</td>
					<td>70</td>
				</tr>
				
				<tr>
					<td scope="row">04.10.2016</td>
					<td>21:00</td>
					<td>Trompet Trompet</td>
					<td>Klassisk</td>
					<td>Klubben</td>
					<td>60</td>
				</tr>

				<tr>
					<td scope="row">05.10.2016</td>
					<td>20:00</td>
					<td>Fløyte Fløyte</td>
					<td>Indie</td>
					<td>Storsalen</td>
					<td>300</td>
				</tr>

				<tr>
					<td scope="row">06.10.2016</td>
					<td>20:00</td>
					<td>Tromme Tromme</td>
					<td>Pop</td>
					<td>Strossa</td>
					<td>80</td>
				</tr>

				<tr>
					<td scope="row">07.10.2016</td>
					<td>21:00</td>
					<td>Gitar Gitar</td>
					<td>EDM</td>
					<td>Storsalen</td>
					<td>250</td>
				</tr>

				<tr>
					<td scope="row">08.10.2016</td>
					<td>21:00</td>
					<td>Bass Bass</td>
					<td>House</td>
					<td>Strossa</td>
					<td>20</td>
				</tr>

				<tr>
					<td scope="row">09.10.2016</td>
					<td>22:00</td>
					<td>Fiolin Fiolin</td>
					<td>Elektro-pop</td>
					<td>Klubben</td>
					<td>90</td>
				</tr>

				<tr>
					<td scope="row">10.10.2016</td>
					<td>22:00</td>
					<td>Obo Obo</td>
					<td>Punk</td>
					<td>Knaus</td>
					<td>105</td>
				</tr>

			</tbody>
		</table>
	</div>
	<script src="tablescript.js"></script>
</body>
</html>