
{% extends "index.html" %}

{% block content %}

	{% if stages %}
	{% for stage in stages %}
	<div class="stage-container">
		<h3><a href="/stage/{{ stage._id }}">{{ stage.name }}</a></h3>
		<p>Pris: {{ stage.price }}</p>
		<p>Kapasitet: {{ stage.capacity }}</p>
		{% if stage.concerts %}
		<p>Tidligere konserter: {% for concert in stage.concerts %} {{concert}} {% endfor %}</p>
		{% endif %}
		<p style="color:{{stage.color}};">Farge: {{stage.color}}</p>
	</div>
	<form method="POST" action="/stage/{{ stage._id }}">
		<input type="hidden" name="_method" value="DELETE"/>
		<input type="submit" class="btn btn-danger" value="Slett"/><br>
	</form>
	{% endfor %}
	{% endif %}
	<p>Create more objects <a href="/stages/create">here</a></p>

{% endblock %}