{% extends "index.html" %}

{% block content %}

<div class="container text-center">
		<h2 class="tableHeader">List of users</h2>

		<div id="concertSearch" class="form-group pull-right">
			<input type="text" class="search form-control" placeholder="Søk">
		</div>

		<table data-toggle="table" 
		data-classes="table table-hover results"
		data-striped="true"
		data-sort-name="Username"
		data-sort-order="asc">
			
			<thead>
				<tr>
					<th class="col-xs-2" data-field="Username" data-sortable="true">Brukernavn</th>
					<th class="col-xs-1" data-field="Role" data-sortable="true">Rolle</th>
					<th class="col-xs-1" data-field="Connected band" data-sortable="true"></th>
					<th class="col-xs-1" data-field="Delete" data-sortable="false"></th>

				</tr>
				<!--<tr class="warning no-result">
      				<td colspan="4"><i class="fa fa-warning"></i> No result</td>
  				</tr>-->
			</thead>

			<tbody>
				{% for user in users %}
				<tr>
					<td><a href="/user/{{ user.id }}">{{user.local.username}}</a></td>
					<td>{{ user.role }}</td>
					{% if user.connected_band.id %}
					<td><a href="/band/{{ user.connected_band.name }}"></a>{{ user.connected_band.name }}</td>
					{% else %}
					<td>None</td>
					{% endif %}					<td>
						<form method="POST" action="/user/{{ user.id }}">
	    					<input type="hidden" name="_method" value="DELETE"/>
	    					<input type="submit" class="btn btn-danger" value="Slett"/><br>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<hr>
		<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<form action="/signup" method="post">
				<div class="form-group">
					<label>Brukernavn</label>
					<input type="text" class="form-control" name="username" placeholder="Brukernavn">
				</div>
				<div class="form-group">
					<label>Passord</label>
					<input type="password" class="form-control" name="password" placeholder="Passord">
				</div>
				<div class="form-group">
					<label>Rolle</label>
					<input type="text" class="form-control" name="role" placeholder="Rolle">
				</div>

				<button type="submit" class="btn btn-success" >Legg til Bruker</button>
			</form>

		</div>

		</div>
		
	</div>

{% endblock %}