p {
	margin: 0;
}

th{
	text-align: center;
}

/*Generelt*/
.container{
	position: relative;
	width: 100%;
	height: 100%;
}

/*Tabeller*/
.tableHeader{
	color: #a03033;
}

.formHeader{
	text-align: center;
	color: #a03033;
}

.dropdown .dropdown-menu{
	margin-top: -2px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

/*Forms*/
#spotify_search_button{
	margin-left: 7px;
	margin-bottom: 16px;
}

#artist_image{
	margin-top: 15px;
	border-radius: 5px;
}

#concert_submit{
	margin-left: 6px;
}

#band_submit{
	margin-left: 7px;
}

#booking_submit{
	margin-left: 6px;
}

.active-result{
	color: lightgray;
}

/*
Bakgrunnsarger:
#a03033
#91282b
#742020
Borderfarger:
#a42e2e
#802424
#401212
*/

/*.btn-drop*/
.btn-drop{
	color:#fff;
	background-color:#a03033;
	border-color:#a42e2e;
}
.btn-drop.focus,
.btn-drop:focus{
	color:#fff;
	background-color:#91282b;
	border-color:#401212;
}
.btn-drop:hover{
	color:#fff;
	background-color:#91282b;
	border-color:#742020;
}
.btn-drop.active,
.btn-drop:active,
.open>.dropdown-toggle.btn-drop{
	color:#fff;
	background-color:#742020;
	border-color:#742020;
}
.btn-drop.active.focus,
.btn-drop.active:focus,
.btn-drop.active:hover,
.btn-drop:active.focus,
.btn-drop:active:focus,
.btn-drop:active:hover,
.open>.dropdown-toggle.btn-drop.focus,
.open>.dropdown-toggle.btn-drop:focus,
.open>.dropdown-toggle.btn-drop:hover{
	color:#fff;
	background-color:#742020;
	border-color:#401212;
}
.btn-drop.active,
.btn-drop:active,
.open>.dropdown-toggle.btn-drop{
	background-image:none;
}
.btn-drop.disabled.focus,
.btn-drop.disabled:focus,
.btn-drop.disabled:hover,
.btn-drop[disabled].focus,
.btn-drop[disabled]:focus,
.btn-drop[disabled]:hover,
fieldset[disabled] .btn-drop.focus,
fieldset[disabled] .btn-drop:focus,
fieldset[disabled] .btn-drop:hover{
	background-color:#91282b;
	border-color:#a42e2e;
}

/*
Dette gir ikke-flate knapper
.btn-drop{
	text-shadow:0 -1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}
.btn-drop.active,.btn-drop:active{
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-drop.disabled,
.btn-drop[disabled],
fieldset[disabled] .btn-drop{
	-webkit-box-shadow:none;
	box-shadow:none;
}

.btn-drop{
    background-image: -webkit-linear-gradient(top, #a03033 0, #91282b 100%);
    background-image: -o-linear-gradient(top, #a03033 0, #91282b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A03033), to(#742020));
    background-image: linear-gradient(to bottom, #a03033 0, #91282b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #802424
}*/

.btn-drop:focus,
.btn-drop:hover {
    background-color: #91282b;
    background-position: 0 -4rem;
}

.btn-drop.active,
.btn-drop:active{
	background-color:#742020;
	border-color:#802424;
}
.btn-drop.disabled,
.btn-drop.disabled.active,
.btn-drop.disabled.focus,
.btn-drop.disabled:active,
.btn-drop.disabled:focus,
.btn-drop.disabled:hover,
.btn-drop[disabled],
.btn-drop[disabled].active,
.btn-drop[disabled].focus,
.btn-drop[disabled]:active,
.btn-drop[disabled]:focus,
.btn-drop[disabled]:hover,
fieldset[disabled] .btn-drop,
fieldset[disabled] .btn-drop.active,
fieldset[disabled] .btn-drop.focus,
fieldset[disabled] .btn-drop:active,
fieldset[disabled] .btn-drop:focus,
fieldset[disabled] .btn-drop:hover{
	background-color:#742020;
	background-image:none;
}