p {
	margin: 0;
}

th{
	text-align: center;
}

/*Generelt*/
.container{
	position: relative;
	width: 100%;
	height: 100%;
}

/*Tabeller*/
.tableHeader{
	margin-top: 0;
	margin-bottom: 2rem;
	color: #a03033;
}

.dropdown .dropdown-menu{
	margin-top: -2px;
}

.table > tbody > tr > td{
	vertical-align: middle;
} 

.results tr[visible='false'],
.no-result, 
.empty-table{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}


#concert_create{
	margin-left: 1rem;
}

#concert_search{
	margin-right: 0;
}

/*Bandinfo*/
.panel-title{
	color: #a03033;
}

#band_header{
	display: inline-block;
	margin-top: 0;
	color: #a03033;
}

#band_edit, #band_delete{
	display: inline-block;
	margin-left: 1rem;
	float: right;
}

#band_image{
	margin-bottom: 0;
	border-bottom: none;
}
#band_stats{
	margin-bottom: 0;
}

#band_stats_data tr td{
	padding-left: 4px;
}

#band_albums .panel-body,
#band_tracks .panel-body,
#band_concerts .panel-body{
	padding: 0;
}

/*Forms*/
.formHeader{
	margin-top: 0;
	margin-bottom: 2rem;
	text-align: center;
	color: #a03033;
}

#artist_image{
	margin-top: 15px;
	border-radius: 5px;
}

#concert_time{
	width: 4.333%;
}

#concert_practicetime{
	width: 12.333%;
}

#concert_expenses{
	margin-top: 49px;
}

#concert_expenses_sum{
	padding-left: 0;	
}

#concert_band_list {
  display: inline;
  list-style: none;
}

#concert_band_list li {
  display: inline;
}

#concert_band_list li:after {
  content: ", ";
}

#concert_band_list li:last-child:after {
  content: "";
}

/*
Bakgrunnsarger:
#a03033
#91282b
#742020
Borderfarger:
#a42e2e
#802424
#401212
*/

/*.btn-drop*/
.btn-drop{
	color:#fff;
	background-color:#a03033;
	border-color:#a42e2e;
}
.btn-drop.focus,
.btn-drop:focus{
	color:#fff;
	background-color:#91282b;
	border-color:#401212;
}
.btn-drop:hover{
	color:#fff;
	background-color:#91282b;
	border-color:#742020;
}
.btn-drop.active,
.btn-drop:active,
.open>.dropdown-toggle.btn-drop{
	color:#fff;
	background-color:#742020;
	border-color:#742020;
}
.btn-drop.active.focus,
.btn-drop.active:focus,
.btn-drop.active:hover,
.btn-drop:active.focus,
.btn-drop:active:focus,
.btn-drop:active:hover,
.open>.dropdown-toggle.btn-drop.focus,
.open>.dropdown-toggle.btn-drop:focus,
.open>.dropdown-toggle.btn-drop:hover{
	color:#fff;
	background-color:#742020;
	border-color:#401212;
}
.btn-drop.active,
.btn-drop:active,
.open>.dropdown-toggle.btn-drop{
	background-image:none;
}
.btn-drop.disabled.focus,
.btn-drop.disabled:focus,
.btn-drop.disabled:hover,
.btn-drop[disabled].focus,
.btn-drop[disabled]:focus,
.btn-drop[disabled]:hover,
fieldset[disabled] .btn-drop.focus,
fieldset[disabled] .btn-drop:focus,
fieldset[disabled] .btn-drop:hover{
	background-color:#91282b;
	border-color:#a42e2e;
}

/*
Dette gir ikke-flate knapper
.btn-drop{
	text-shadow:0 -1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}
.btn-drop.active,.btn-drop:active{
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-drop.disabled,
.btn-drop[disabled],
fieldset[disabled] .btn-drop{
	-webkit-box-shadow:none;
	box-shadow:none;
}

.btn-drop{
    background-image: -webkit-linear-gradient(top, #a03033 0, #91282b 100%);
    background-image: -o-linear-gradient(top, #a03033 0, #91282b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A03033), to(#742020));
    background-image: linear-gradient(to bottom, #a03033 0, #91282b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #802424
}*/

.btn-drop:focus,
.btn-drop:hover {
    background-color: #91282b;
    background-position: 0 -4rem;
}

.btn-drop.active,
.btn-drop:active{
	background-color:#742020;
	border-color:#802424;
}
.btn-drop.disabled,
.btn-drop.disabled.active,
.btn-drop.disabled.focus,
.btn-drop.disabled:active,
.btn-drop.disabled:focus,
.btn-drop.disabled:hover,
.btn-drop[disabled],
.btn-drop[disabled].active,
.btn-drop[disabled].focus,
.btn-drop[disabled]:active,
.btn-drop[disabled]:focus,
.btn-drop[disabled]:hover,
fieldset[disabled] .btn-drop,
fieldset[disabled] .btn-drop.active,
fieldset[disabled] .btn-drop.focus,
fieldset[disabled] .btn-drop:active,
fieldset[disabled] .btn-drop:focus,
fieldset[disabled] .btn-drop:hover{
	background-color:#742020;
	background-image:none;
}

